@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
    margin: 0 0;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
/* btn style */
.btn-primary{
    background-color: #FF42A5;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
}
.span-color{
    color: #FF42A5;
}
.container .banner .banner-header .btn-primary-two{
    background-color: #4EC5F7;
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    font-weight: 600;
}
/* nav bar style */
nav{
    margin-top: 35px;
}

.container .nav-logo img{
    width: 58px;
    height: 29px;
    /* padding-top: 2px; */
}
.container .nav-logo span{
    font-size: 25px;
    font-weight: 700;
}

.container .nav-logo{
    display: flex;
    gap: 15px;
}
.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .nav-bar{
    display: flex;
    gap: 15px;
    align-items: center;
}
.container .nav-bar a{
    text-decoration: none;
    color: #3C354F;
    font-weight: 500;
}
 .container .nav-bar .extra-div{
    display: flex;
    gap: 12px;
    background: rgba(11, 2, 35, 0.10);
    padding:10px;
    border-radius: 5px;
 
    
}
.container .nav-bar .extra-div a{
   
}
.container .nav-bar .extra-div img{
    width: 20px;
    height: 20px;
    padding-top: 2px;
    position: relative;
    bottom: 0px;

}
/* header banner part */

.banner{
    margin-top: 150px;
}
.container .banner-header .first{
    font-weight: 600;
    font-size: 30px;
    position: relative;
    top: 22px;
}
.container .banner-header .second{
    font-weight: 800;
    font-size: 50px;
    color: #8758F1;
    position: relative;
    bottom: 10px;
    /* padding-bottom: 50px; */
}
.container .banner-header p{
    position: relative;
    bottom: 31px;
    font-weight: 500;
}
.container .banner{
    display: flex;
    justify-content: space-between;
}
.container .banner-pic img{
    height: 600px;
    width: 600px;
    position: relative;
    bottom: 100px;
}

/* main part style */
.gamer{
    position: relative;
    bottom: 90px;
}
.gamer .container img{
    height: 500px;
    width: 500px;
}
.gamer .container{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}
.gamer .container .about-gamer{
    text-align: end;
    color: #534C64;
    font-weight: 500;
}
.gamer .container .about-gamer h2{
    color:#8758F1;
}


/* online games section */
.online-games{
    margin: 30px 0;
}
.online-games .container h2{
    text-align: center;
}
.online-games .container h2 span{
    color:#8758F1;
}
.online-games .container p{
    text-align: center;
    font-weight: 500;
}

.container .type-of-games img{
    margin-top: 50px;
    height: 250px;
    width: 240px;
    transform: scale(1);
    transition: transform 0.7s;

}
.container .type-of-games img:hover{
    /* height:255px ;
    width: 245px; */
    transform: scale(1.05);
}



.container .type-of-games{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}



/* download and install styles */
.download-install{
    margin-top: 65px;
}
.download-install .container{
    display: flex;
    justify-content: space-between;
    gap: 90px;
}
.download-install .container .description h2{
    margin-top: 100px;
    text-align: center;
}
.download-install .container .description h2 span{
    color: #8758F1;
}
.download-install .container .description p{
    text-align: center;
    font-weight: 500;
}
.download-install .container img{
    height: 350px;
    width: 360px;
}
.download-install .container .small-img{
    height: 200px;
    width: 200px;
    position: relative;
    right: 92px;
    bottom: 145px;
}


/* game name section style */


.game-name .container .part-1{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   gap:20px;
}
.game-name .container .cetagory{
    border:none;
    border-radius: 19px;
    color:#0B0223;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap:10px;
}
.game-name .container img{
    height: 40px;
    width: 40px;
}
.game-name .container .cetagory:hover{
    border: 2px solid #FF42A5;
    border-radius: 19px;
    color:#FF42A5;
}

/* footer part style */

footer{
    background-color: #0B0223;
    margin-top: 70px;
    width: auto;
}
footer .nav-logo img{
    width: 58px;
    height: 29px;
    /* padding-top: 2px; */
}
footer .nav-logo span{
    font-size: 25px;
    font-weight: 700;
    color: #FFFFFF;
}
footer .nav-logo span .span-color{
    color: #FF42A5;
}


footer .nav-logo{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 80px;
}

.footer-para{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #FFFFFF;
    margin-top: 20px;
}
footer .footer-social{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px auto;
}
.footer-social img{
    width: 33px;
    height: 27px;
}
footer .footer-description{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #FFFFFF;
    margin-top: 20px;
    font-size: small;
}
footer .last-part{
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 70px;
    font-size: small;
}


.hide{
    display: none;
}